@charset "gb2312";
/* CSS Document */


body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td{ margin:0px; padding:0px; }
table{ border-collapse:collapse; border-spacing:0px;}
fieldset,img { border:0px; }
address,caption,cite,code,dfn,em,strong,th,var { font-weight:normal; font-style:normal;}
ol,ul { list-style:none; }
caption,th{ text-align:left; }
h1,h2,h3,h4,h5,h6 { font-size:100%; font-weight:normal; }
q:before,q:after { content:''}
abbr{ border:0px;}
body{ font-size:14px; line-height:20px; font-family:'Microsoft YaHei',Arial, Helvetica, sans-serif; color:#000; text-align:left;}
div,p,ul,li,h1,h2,h3,h4,h5,h6,a,input,button,textarea,span,font,em,cite,table,tr,td{ font-size:1em;}
input{ color:#666; outline:none; border:1px solid #ccc;}
p{ padding-top:0.4em;}
a{ color:#f00; text-decoration:none;}
a:hover{ text-decoration:underline;}

.who{ width:100%; height:auto; overflow:hidden; margin:0 auto;}
.fl{ float:left; }
.fr { float:right; }
.clear:after{content: '';display: block;clear: both;visibility: hidden}

/* font style */ 

.f12 { font-size:12px; }
.f14 { font-size:14px; }
.f16 { font-size:16px; }
.f18 { font-size:18px; }
.f20 { font-size:20px; }

/*margin padding style*/

.m5{ margin:5px;}
.m10{ margin:10px;}
.p5{ padding:5px;}
.p10{ padding:10px;}

/*width style */

.w10 { width:10px; }
.w20 { width:20px; }
.w30 { width:30px; }
.w40 { width:40px; }
.w50 { width:50px; }
.w60 { width:60px; }
.w70 { width:70px; }
.w80 { width:80px; }
.w90 { width:90px; }
.w150 { width:150px; }
.w100 { width:100px; }
.w200 { width:200px; }
.w250 { width:250px; }
.w300 { width:300px; }
.w400 { width:400px; }
.w500 { width:500px; }
.w600 { width:600px; }
.w700 { width:700px; }
.w800 { width:800px; }
.w900 { width:900px; }
.w1000 { width:1000px; }
.wb100 { width:100%;}


/*height style*/
.h10 { height:10px; }
.h20 { height:20px; }
.h30 { height:30px; }
.h40 { height:40px; }
.h50 { height:50px; }
.h100 { height:100px; }
.h150 { height:150px; }
.h200 { height:200px; }
.h300 { height:300px; }
.h400{height: 400px;}
.h500 { height:500px; }
.hb100 { height:100% }

/*margin style*/

.mt5{ margin-top:5px;}
.mt10{ margin-top:10px;}
.mt15{ margin-top:15px;}
.mt20{ margin-top:20px;}
.mt25{ margin-top:25px;}
.mt30{ margin-top:30px;}
.mt35{ margin-top:35px;}
.mt40{ margin-top:40px;}
.mt50{ margin-top:50px;}
.mt100{ margin-top:100px;}

.ml5{ margin-left:5px;}
.ml10{ margin-left:10px;}
.ml15{ margin-left:15px;}
.ml20{ margin-left:20px;}
.ml25{ margin-left:25px;}
.ml30{ margin-left:30px;}
.ml40{ margin-left:40px;}
.ml50{ margin-left:50px;}
.ml100{ margin-left:100px;}

.mb5{ margin-bottom:5px;}
.mb10{ margin-bottom:10px;}
.mb15{ margin-bottom:15px;}
.mb20{ margin-bottom:20px;}
.mb25{ margin-bottom:25px;}
.mb30{ margin-bottom:30px;}
.mb40{ margin-bottom:40px;}
.mb50{ margin-bottom:50px;}
.mb100{ margin-bottom:100px;}

.mr5{ margin-right:5px;}
.mr10{ margin-right:10px;}
.mr15{ margin-right:15px;}
.mr20{ margin-right:20px;}
.mr25{ margin-right:25px;}
.mr30{ margin-right:30px;}
.mr40{ margin-right:40px;}
.mr50{ margin-right:50px;}
.mr100{ margin-right:100px;}

/* padding style */

.pt5{ padding-top:5px;}
.pt10{ padding-top:10px;}
.pt15{ padding-top:15px;}
.pt20{ padding-top:20px;}
.pt25{ padding-top:25px;}
.pt30{ padding-top:30px;}
.pt40{ padding-top:40px;}
.pt50{ padding-top:50px;}

.pl5{ padding-left:5px;}
.pl10{ padding-left:10px;}
.pl15{ padding-left:15px;}
.pl20{ padding-left:20px;}
.pl25{ padding-left:25px;}
.pl30{ padding-left:30px;}
.pl40{ padding-left:40px;}
.pl50{ padding-left:50px;}

.pb5{ padding-bottom:5px;}
.pb10{ padding-bottom:10px;}
.pb15{ padding-bottom:15px;}
.pb20{ padding-bottom:20px;}
.pb25{ padding-bottom:25px;}
.pb30{ padding-bottom:30px;}
.pb40{ padding-bottom:40px;}
.pb50{ padding-bottom:50px;}
.pb100{ padding-bottom:100px;}

.pr5{ padding-right:5px;}
.pr10{ padding-right:10px;}
.pr15{ padding-right:15px;}
.pr20{ padding-right:20px;}
.pr25{ padding-right:25px;}
.pr30{ padding-right:30px;}
.pr40{ padding-right:40px;}
.pr50{ padding-right:50px;}

/*ckx add*/

.c_hidden { display:none;}
.fwb { font-weight:bold;}
.fwn{ font-weight:normal;}

.color_red{ color:#f00;}
.color_white{ color:#fff;}
.color_blue{ color:blue;}
.color_green{ color:green;}
.color_gray{ color:#ccc;}
.color_block{ color:#333;}
.color_header{background-color: #5d5d58;color: #c5c8af}

.relative{
    position: relative;
}













